.text-type {
  display: inline-block;
}

.text-type:not(.whitespace-nowrap):not(.\!whitespace-nowrap) {
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
